$navBarColour: #3ebbbf;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 90vh;
  width: 100vw;
}

.country-info-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 1305px;
  height: 700px;
  background: #e5e5e5;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#grid {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: repeat(4, 1fr);

  .box {
    display: flex;
    justify-content: center;
    align-items: center;

    .box-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background: #ffffff;
      box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      width: 520px;
      height: 150px;
      transition: all 0.2s ease-in-out;
    }
    .box-content:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
    .info-box {
      align-self: center;
      margin-right: 20px;
    }

    .info-box-header {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.92);
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 2px;
    }

    #icons {
      align-self: center;
      margin-left: 20px;
      margin-right: 20px;
    }

    .data {
      display: flex;
      flex-direction: row;
      max-height: 25px;
      font-size: 16px;
    }

    .mini-header {
      color: rgba(0, 0, 0, 0.67);
      font-weight: 600;
      align-self: center;
    }

    .number {
      align-self: center;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      margin-left: 10px;
    }

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/6;

      .bigbox-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #ffffff;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        width: 650px;
        height: 600px;
        margin-left: 15px;
        transition: all 0.2s ease-in-out;
      }

      .bigbox-content:hover {
        transform: scale(1.02);
        cursor: pointer;
      }
      .country-name {
        font-family: "Poppins", sans-serif;
        height: 65px;
        align-self: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 45px;
        line-height: 65px;
        color: rgba(0, 0, 0, 0.79);
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 25px;
        margin-top: 40px;
      }
      #flag {
        align-self: center;
        width: 120px;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.137));
      }
      .advisory-message {
        align-self: center;
      }
      .global-risk {
        align-self: center;
        font-size: 36px;
        color: rgba(0, 0, 0, 0.67);
        // text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .global-risk-score {
        display: flex;
        height: 65px;
        justify-content: center;
        flex-direction: row;
        color: rgba(0, 0, 0, 0.67);
        margin-bottom: 25px;

        // text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
      .risk-score {
        font-size: 36px;
        font-weight: bold;
        align-self: center;
        margin-right: 5px;
        margin-top: auto;
        margin-bottom: auto;
      }
      .risk-score-end {
        font-size: 25px;
        align-self: center;
        margin-left: 5px;
      }
      .advisory-section {
        display: flex;
        height: 65px;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 40px;
      }
      #message-icon {
        align-self: center;
        // width: 53px;
        // height: 51px;
      }
      .advisory-message {
        margin-left: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
      }
    }
    &:nth-child(2) {
      margin-top: 30px;
      margin-right: 15px;
    }
    &:nth-child(3) {
      margin-top: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
      .quarantine-data {
        font-size: 16px;
        margin-top: 0px;
      }
    }
    &:nth-child(4) {
      margin-right: 15px;
      margin-bottom: 15px;
      .test-data {
        font-size: 14px;

        margin-top: 0px;
      }
    }
    &:nth-child(5) {
      margin-right: 15px;
      margin-bottom: 30px;
      .mini-header-1 {
        color: rgba(0, 0, 0, 0.67);
        font-weight: 600;
        align-self: center;
      }
      .policy-data {
        display: flex;
        flex-direction: row;
        max-height: 25px;
        font-size: 16px;
      }
      .policy-data-2 {
        display: flex;
        flex-direction: row;
        max-height: 25px;
        font-size: 16px;
      }
      .policy-data-3 {
        display: flex;
        flex-direction: row;
        max-height: 25px;
        font-size: 16px;
        margin-top: 0px;
      }
      .data-string-1 {
        align-self: center;
        font-size: 16px;
        margin-left: 10px;
      }
      .data-string-2 {
        align-self: center;
        font-size: 16px;
        margin-left: 10px;
      }
      .data-string-3 {
        align-self: center;
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
}

.data-unavailable-large {
  font-size: 16px;
  margin-top: 10px;
}

.data-unavailable-small {
  align-self: center;
  font-size: 16px;
  margin-left: 10px;
}

.randomise-button {
  align-self: center;
  margin-left: 30px;
  background: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
  height: 100px;
}

.randomise-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#dice {
  width: 100px;
  height: 100px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.14));
}
