html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  padding: 0;
  margin: 3;
  width: 100%;
  object-fit: cover;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.covidMapContainer {
  width: 100vw;
  height: 100vh;
  /* calc(100vh - 100px); */
}
