.loading {
  text-align: center;
}

.title-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app-logo {
  margin-top: 25px;
  width: 140px;
  height: 125px;
}

.app-title {
  text-align: center;
  margin: 0;
  margin-left: 20px;
  font-size: 72px;
  line-height: 98px;
  font-weight: normal;
  color: #3ebbbf;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
}

.error-message {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 478px;
  max-width: 478px;
  height: 565px;
  left: 481px;
  top: 225px;
  vertical-align: middle;
  background: #e5e5e5;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: auto;
  margin-top: 0;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 364px;
  height: 462px;
  left: 539px;
  top: 276px;
  vertical-align: middle;
  background: #ffffff;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

#login-form {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-bottom: 50px;
}

.form__title {
  width: 364px;
  color: #3ebbbf;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: left;
  font-size: 25px;
  line-height: 27px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

input {
  font-family: "Nunito Sans", sans-serif;
}

button {
  font-family: "Nunito Sans", sans-serif;
}

#email-login {
  width: 300px;
  height: 55px;
  background: #fafafa;
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
  margin-left: 30px;
}

#password-login {
  width: 300px;
  height: 55px;
  background: rgba(229, 229, 229, 0.66);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
  margin-left: 30px;
}

.blue-login-button {
  width: 300px;
  height: 55px;
  background: rgba(62, 187, 191, 0.66);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 2.5em;
  margin-left: 30px;
}

.register-div {
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: rgba(238, 178, 22, 0.66);
}

.register-link {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  color: #3ebbbf;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 1em;
}
/*# sourceMappingURL=Login.css.map */