.signup-header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
}

.error-message {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.app-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  margin-left: 20px;
  font-size: 72px;
  line-height: 98px;
  color: #3ebbbf;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
}

.signup-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 478px;
  max-width: 478px;
  height: 565px;
  left: 481px;
  top: 225px;
  vertical-align: middle;
  margin: auto;
  margin-top: 0;
  margin-bottom: 100px;
  background: #e5e5e5;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 364px;
  height: 462px;
  left: 539px;
  top: 276px;
  vertical-align: middle;
  background: #ffffff;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.signup-form {
  width: 300px;
  height: 400px;
  margin: auto;
}

.message-login-link {
  width: 364px;
  height: 21px;
  left: 573px;
  top: 300px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  margin-left: 28px;
  margin-top: 10px;
  color: #ff8400;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.login-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  color: #3ebbbf;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 1em;
}

#name {
  width: 300px;
  height: 50px;
  background: #fafafa;
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
}

#name:focus {
  outline: none;
}

#email {
  width: 300px;
  height: 50px;
  background: #fafafa;
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
}

#email:focus {
  outline: none;
}

#password {
  width: 300px;
  height: 50px;
  background: rgba(229, 229, 229, 0.66);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
}

#password:focus {
  outline: none;
}

#passwordConfirm {
  width: 300px;
  height: 50px;
  background: rgba(229, 229, 229, 0.66);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 1.5em;
}

#passwordConfirm:focus {
  outline: none;
}

.signup-button {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 55px;
  background: rgba(62, 187, 191, 0.66);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.signup-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}
/*# sourceMappingURL=Signup.css.map */